:root {
  --headings-font-family: "Source Sans Pro", sans-serif;
  --body-fonts: "Open Sans", sans-serif;
  --black-color: #000000;
  --gray-color: #abb8c3;
  --white-color: #ffffff;
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --vivid-purple: #9b51e0;
  --vivid-strong-blue: #404040;
}
.kalendar {
  width: 100%;
  background-color: white;
  margin: 50px 0;

}

.kalendar__upper {
  width: 89%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kalendar__upper h5 {
  font-family: var(--body-fonts);
  font-size: 14px;
  line-height: 22px;
  color: #00a1ff;
  font-weight: 400;
}

.kalendar__upper .fa-solid {
  font-size: 18px;
  margin: 0 10px;
}
.kalendar__upper p {
  font-family: var(--body-fonts);
  font-size: 14px;
  line-height: 22px;
  color: #999;
  font-weight: 400;
}
.kalendar__content_all {
  margin-bottom: 50px;
}
.kalendar__content {
  width: 89%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kalendar__content h1 {
  font-family: var(--headings-font-family);
  font-size: 48px;
  line-height: 77px;
  font-weight: 700;
  color: #011a33;
}

.kalendar__content .line {
  width: 35px;
  margin-top: 7px;
  height: 3px;
  background-color: #00a1ff;
  margin-bottom: 10px;
}
.kalendar__content p {
  font-family: var(--body-fonts);
  font-size: 22px;
  line-height: 31px;
  font-weight: 100;
  color: #404040;
}
.kalendar__box_all {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.kalendar__box {
  background-color: #00a1ff;
  width: 69%;
  min-width: 700px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kalendar__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  border-right: 1px solid white;
}
.kalendar__date h2 {
  font-family: var(--body-fonts);
  font-size: 45px;
  color: white;
  font-weight: 700;
  line-height: 50px;
}
.kalendar__date p {
  font-family: var(--body-fonts);
  font-size: 16px;
  color: white;
  line-height: 26px;
  font-weight: 400;
}
.kalendar__text h3 {
  font-family: var(--body-fonts);
  font-size: 21px;
  line-height: 25px;
  color: white;
  font-weight: 400;
}
.kalendar__text h3 a {
  color: white;
  text-decoration: none;
}
.kalendar__text h3 a:hover {
  text-decoration: underline;
}
.kalendar__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}
.kalendar__detail h4 {
  font-family: var(--body-fonts);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  margin-right: 7px;
}
.kalendar__detail fa-solid {
  font-size: 25px;
}
