:root {
    --headings-font-family: "Source Sans Pro", sans-serif;
    --body-fonts: "Open Sans", sans-serif;
    --black-color: #000000;
    --gray-color: #abb8c3;
    --white-color: #ffffff;
    --pale-pink: #f78da7;
    --vivid-red: #cf2e2e;
    --vivid-orange: #ff6900;
    --luminous-vivid-amber: #fcb900;
    --light-green-cyan: #7bdcb5;
    --vivid-green-cyan: #00d084;
    --pale-cyan-blue: #8ed1fc;
    --vivid-cyan-blue: #0693e3;
    --vivid-purple: #9b51e0;
    --vivid-strong-blue: #404040;
  }
  
  .Rozvrhhodin {
    width: 100%;
    background-color: white;
    margin: 50px 0;
  }
  
  .Rozvrhhodin__upper {
    width: 89%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Rozvrhhodin__upper h5 {
    font-family: var(--body-fonts);
    font-size: 14px;
    line-height: 22px;
    color: #00a1ff;
    font-weight: 400;
  }
  .Rozvrhhodin__upper h5:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .Rozvrhhodin__upper .fa-solid {
    font-size: 18px;
    margin: 0 10px;
  }
  .Rozvrhhodin__upper p {
    font-family: var(--body-fonts);
    font-size: 14px;
    line-height: 22px;
    color: #999;
    font-weight: 400;
  }
  .Rozvrhhodin__content_all {
    margin-bottom: 50px;
  }
  .Rozvrhhodin__content {
    width: 89%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Rozvrhhodin__content h1 {
    font-family: var(--headings-font-family);
    font-size: 48px;
    line-height: 77px;
    font-weight: 700;
    color: #011a33;
  }
  
  .Rozvrhhodin__content .line {
    width: 35px;
    margin-top: 7px;
    height: 3px;
    background-color: #00a1ff;
    margin-bottom: 10px;
  }
  .Rozvrhhodin__content p {
    font-family: var(--body-fonts);
    font-size: 22px;
    line-height: 31px;
    font-weight: 100;
    color: #404040;
  }

  /* ======================================================
  Rozvrh hodin box ================================== */

.rozvrh_box_all{
  width: 150px;
  margin: auto;
}
.rozvrh_box_all_wrapper{
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  
}
.rozvrh_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rozvrh_box h3{
  font-family: var(--headings-font-family);
  font-size: 16px;
  line-height: 26px;
  color: #404040;
  font-weight: 400;
  
}
.rozvrh_box h5{
  font-family: var(--body-fonts);
  font-size: 14px;
  line-height: 22px;
  
  font-weight: 400;
}
.rozvrh_box h5 a{
  text-decoration: none;
  color: #0074db;
}

